In [ ]:
# Importamos pandas y numpy

# Reto 1

Mediante la creación de una lista de tuplas y otra de Strings, crea un
Dataframe de como mínimo 5 columnas y 5 filas.

In [19]:
import pandas as pd

In [10]:
data= [
    ('Jose', 41, 'hombre', 'Soltero', ['correr','bailar','leer']),
    ('Luis', 15, 'hombre', 'Soltero',  ['gym','musica']),
    ('Juana', 21, 'mujer', 'casada',  ['bailar','yoga', 'series']),
    ('Ruben', 33, 'hombre', 'casado',  ['MMA','gym','leer']),
    ('Martha', 55, 'mujer', 'Soltera',  ['cocinar','bailar','zumba'])
]

In [15]:
column = ['Nombre', 'Edad', 'Genero', 'Estado Civil', 'Aficiones']

In [16]:
df = pd.DataFrame(data, columns=column)

In [13]:
print(df)

   Nombre  Edad  Genero Estado Civil                 Aficiones
0    Jose    41  hombre      Soltero    [correr, bailar, leer]
1    Luis    15  hombre      Soltero             [gym, musica]
2   Juana    21   mujer       casada    [bailar, yoga, series]
3   Ruben    33  hombre       casado          [MMA, gym, leer]
4  Martha    55   mujer      Soltera  [cocinar, bailar, zumba]

# Reto 2
Mediante la creación de una lista de diccionarios, crea el mismo
dataframe anterior pero, esta vez, haz que las columnas aparezcan
en distinto orden y que, al menos 2 de las filas no contengan datos.

In [20]:
data2= [{'Estado Civil': 'Soltero', 'Genero': 'hombre', 'Edad': 41, 'Nombre': 'Jose', 'Aficiones': ['correr', 'bailar', 'leer']},
        {'Nombre': 'Luis', 'Genero': 'hombre', 'Aficiones': ['gym', 'musica'], 'Edad': 15, 'Estado Civil': 'Soltero'},
        {'Nombre': 'Juana', 'Estado Civil': 'casada', 'Aficiones': ['bailar', 'yoga', 'series'], 'Edad': 21, 'Genero': 'mujer'},
         {'Genero': 'hombre', 'Edad': 33, 'Nombre': 'Ruben', 'Aficiones': ['MMA', 'gym', 'leer'], 'Estado Civil': 'casado'},
         {'Genero': 'mujer', 'Estado Civil': 'Soltera', 'Aficiones': ['cocinar', 'bailar', 'zumba'], 'Edad': 55, 'Nombre': 'Martha'},
         {'Edad': 28, 'Nombre': 'Ana'},  # Fila sin datos para algunas columnas
         {'Genero': 'mujer', 'Estado Civil': 'casada'},  # Fila sin datos para todas las columnas
]

In [23]:
column2 = ['Nombre', 'Edad', 'Genero', 'Estado Civil', 'Aficiones']

In [24]:
df = pd.DataFrame(data2, columns=column2)

In [25]:
print(df)

   Nombre  Edad  Genero Estado Civil                 Aficiones
0    Jose  41.0  hombre      Soltero    [correr, bailar, leer]
1    Luis  15.0  hombre      Soltero             [gym, musica]
2   Juana  21.0   mujer       casada    [bailar, yoga, series]
3   Ruben  33.0  hombre       casado          [MMA, gym, leer]
4  Martha  55.0   mujer      Soltera  [cocinar, bailar, zumba]
5     Ana  28.0     NaN          NaN                       NaN
6     NaN   NaN   mujer       casada                       NaN

In [ ]:
# Definición de la lista de diccionarios

# Definición de los nombres de las columnas

# Creación del DataFrame

# Imprimir el DataFrame

  Nombre Género  Edad  Altura  ID
0   Juan      M  25.0   165.0   1
1  María      F  30.0   170.0   2
2  Pedro      M  35.0   180.0   3
3    Ana    NaN   NaN     NaN   4
4   Luis      M  32.0     NaN   5

# Reto 3

Crea un archivo CSV mediante el bloc de notas. Este archivo debe
representar la compra efectuada por 5 personas distintas en una
carnicería que solo dispone de 6 tipos de carne. Utiliza como
separadores de columna un símbolo distinto a la coma.

# Reto 4

Importa el archivo creado en el RETO 3 mediante Pandas para crear un
dataframe. Se mostrará por consola al ser finalizado.

In [40]:
ruta = "compradores.csv"

In [42]:
dt = pd.read_csv(ruta, sep=";")

In [43]:
print(dt)

   Nombre     tipo      Corte  Cantidad
0    Juan    Pollo   Pechugas         3
1   María    Pollo     Muslos         5
2   Pedro  Ternera  Solomillo         2
3   Laura   Conejo     Entero         1
4  Carlos    Cerdo       Lomo         5